<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Listing nuggets</h4>
  </div>

  <div class="panel-body">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Title</th>
          <th>Body</th>
          <th>Author</th>
          <th>Category</th>
          <th>Published</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @nuggets.each do |nugget| %>
          <tr>
            <td><%= nugget.title %></td>
            <td><%= nugget.body %></td>
            <td><%= nugget.user.name if nugget.user%></td>
            <td><%= nugget.category.name %></td>
            <td><%= nugget.published %></td>
            <td class="action_column">
              <%= link_to 'Show', nugget, class: "btn btn-default" %>
              <%= link_to 'Edit', edit_nugget_path(nugget), class: "btn btn-default" %>
              <%= link_to 'Destroy', nugget, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
            </td>
          </tr>
        <% end %>
      </tbody>

      <tfoot>
        <tr>
          <th colspan="6">
            <% if @nuggets.count == 0 %>
              There are no nuggets in the system, click the "New Nugget" button to add one!
            <% elsif @nuggets.count == 1 %>
              There is 1 nugget in the system
            <% else %>
              There are <%= @nuggets.count %> nuggets in the system
            <% end %>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>

  <div class="panel-footer">
    <%= link_to 'New Nugget', new_nugget_path, class: "btn btn-primary" %>
  </div>
</div>