<div class="panel panel-default">
  <div class="panel-heading">
    <h4>New Nugget</h4>
  </div>

  <div class="panel-body">
    <%= form_for(@nugget, html: { :role => "form" }) do |f| %>
      <% if @nugget.errors.any? %>
        <div class="alert alert-danger" id="error_explanation">
          <h2><%= pluralize(@nugget.errors.count, "error") %> prohibited this nugget from being saved:</h2>
          <ul>
            <% @nugget.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :title %><br>
        <%= f.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :body %><br>
        <%= f.text_area :body, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :category %><br>
        <%= f.collection_select :category_id, Category.all, :id, :name, class: "form-control" %>
      </div>

        <div class="form-group">
          <%= f.label :address %><br>
          <%= f.text_area :address, :class => "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :latitude %><br>
          <%= f.text_field :latitude, :class => "form-control" %>
          <%= f.label :longitude %><br>
          <%= f.text_field :longitude, :class => "form-control" %>
        </div>
    <% end %>
  </div>

  <div class="panel-footer">
    <button type="submit" class="btn btn-primary">Save Nugget</button>
    <%= link_to 'Back', nuggets_path, class: "btn btn-default" %>
  </div>
</div>

<script>
  $(function() {
    $('button[type="submit"]').click(function() {
      console.log("Nugget new submit called...");
      $('form').submit();
    })
  })
</script>