<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @nugget.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @nugget.body %>
</p>

<p>
  <strong>Author:</strong>
  <%= @nugget.user.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @nugget.category.name %>
</p>

<p>
  <strong>Published:</strong>
  <%= @nugget.published %>
</p>

<%= link_to 'Edit', edit_nugget_path(@nugget) %> |
<%= link_to 'Back', nuggets_path %>
