<p id="notice"><%= notice %></p>
<% unless @nugget.published %>
    <div class="alert">
      PENDING MODERATION
    </div>
<% end %>
<h2><%= @nugget.title %></h2>
<% if @nugget.user %>
    <h5>by <%= @nugget.user.name %></h5>
<% end %>

<%= @nugget.body %>

<p>
  <strong>Category:</strong>
  <%= @nugget.category.name %>
</p>

<%= link_to 'Edit', edit_nugget_path(@nugget) %> |
<%= link_to 'Back', nuggets_path %>
