<div class="container down-20px">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4>User <%= @user.name %></h4>
    </div>

    <div class="panel-body">
      <p><a href="<%= @user.email %>"><%= @user.email %></a></p>
      <p><%= @user.bio %></p>

      <h4>Author of the following content...</h4>
      <ul>
        <% Nugget.where(user_id: @user.id).each do |nugget| %>
        <li><%= link_to nugget.title, nugget_path%></li>
        <% end %>
      </ul>
    </div>

    <div class="panel-footer">
      <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary" %>
      <%= link_to 'Back', users_path, class: "btn btn-default" %>
    </div>
  </div>
</div>