<div class="large-8 columns large-offset-2">
  <h2><%= @user.name %></h2>
  <p><a href="<%= @user.email %>"><%= @user.email %></a></p>
  <p><%= @user.bio %></p>

  <h4>Content Authored</h4>
  <ul>
    <% Nugget.where(user_id: @user.id).each do |nugget| %>
    <li><%= link_to nugget.title, nugget_path%></li>
    <% end %>
  </ul>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>