<%= form_for(@category, html: { :role => "form" }) do |f| %>
  <% if @category.errors.any? %>
    <div class="alert alert-danger" id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>
      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :parent %><br>
    <%= f.collection_select :parent_id, Category.all, :id, :name, :include_blank => true, class: "form-control" %>
  </div>
<% end %>
