<div class="col-md-12">
  <% unless @category.parent.nil? %>
  <ol class="breadcrumb">
    <% @category.ancestors.reverse.each do |category| %>
        <li><%= link_to category.name, category %></li>
    <% end %>
    <li class="current">
      <%= link_to @category.name, @category %>
    </li>
  </ol>
  <% end %>
</div>

<div class="col-md-12">
  <% unless @category.parent.nil? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><%= @category.name %></h4>
        </div>

        <div class="panel-body">
          <p><%= @category.description %></p>
          <% if current_user && current_user.admin %>
              <%= link_to 'Edit Category', edit_category_path(@category) %> |
          <% end %>

          <% if current_user && current_user.admin? && @category.unpublished_nuggets.count > 0  # || current_user.moderator? @category %>
            <div class="panel panel-default">
              Pending content
              <ul>
                <% @category.unpublished_nuggets.each do |nugget| %>
                  <li><%= link_to nugget.title, nugget %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="panel panel-default">
            <div class="panel-heading">Nuggets for <%= @category.name %></div>
            <div class="panel-body">
            <% @category.self_and_children.each do |category| %>
              <ul>
              <% category.published_nuggets.each do |nugget| %>
                <li><h4><%= link_to nugget.title, nugget %> (<%= nugget.user.name %>)</h4></li>
              <% end %>
              </ul>
            <% end %>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading"><%= @category.name %> Sub Categories</div>
            <ul class="list-group">
              <% @category.children.each do |child_category| %>
                <li class="list-group-item">
                  <%= link_to child_category.name, child_category %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="panel-footer">
          <%= link_to 'Add Nugget', new_nugget_path, class: "btn btn-primary" %>
          <%= link_to 'Back', :back, class: "btn btn-default" %>
        </div>
      </div>
  <% else %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Motherlode Products</h4>
      </div>
      <ul class="list-group">
        <% @categories.each do |category| %>
          <li class="list-group-item"><%= link_to category.name, category %></li>
        <% end %>
      </ul>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Categories for <%= @category.name %></div>
      <ul class="list-group">
        <% @category.children.each do |child_category| %>
          <li class="list-group-item">
            <%= link_to child_category.name, child_category %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

