<% unless @category == current_product %>
    <h2><%= @category.name %></h2>
    <p><%= @category.description %></p>
<% end %>

  <% @category.children.each do |child_category| %>
    <div class="panel">
      <%= link_to child_category.name, child_category%>
    </div>
  <% end %>

<ul>
  <% Nugget.where(category_id: @category.id).each do |nugget| %>
      <li><%= link_to nugget.title, nugget_path%></li>
  <% end %>
</ul>


<%= link_to 'Back', @category.parent if @category.parent%>

<%= link_to 'Edit', edit_category_path(@category) %>