<div class="large-12 columns">
  <ul class="breadcrumbs">
    <% @category.ancestors.reverse.each do |category| %>
        <li><%= link_to category.name, category %></li>
    <% end %>
    <li class="current"><%= link_to @category.name, @category %></li>
  </ul>
</div>
<div class="large-6 columns">
  <% unless @category.parent.nil? %>
      <div class="callout panel">
        <h2><%= @category.name %></h2>

        <p><%= @category.description %></p>
        <% if current_user && current_user.admin %>
            <%= link_to 'Edit Category', edit_category_path(@category) %> |
        <% end %>

        <%= link_to 'Submit Content', new_nugget_path %>

      </div>
  <% end %>
  <% if current_user && current_user.admin? && @category.unpublished_nuggets.count > 0  # || current_user.moderator? @category %>
      <div class="panel">
        Pending content
        <ul>
          <% @category.unpublished_nuggets.each do |nugget| %>
              <li><%= link_to nugget.title, nugget %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <% @category.children.each do |child_category| %>
      <div class="panel">
        <%= link_to child_category.name, child_category %>
      </div>
  <% end %>
</div>

<div class="large-6 columns">
  <% @category.self_and_children.each do |category| %>
      <% category.published_nuggets.each do |nugget| %>
          <div class="panel">
            <h3><%= link_to nugget.title, nugget %></h3>
            <strong>by <%= nugget.user.name %></strong>

            <p><%= nugget.body %></p>
          </div>
      <% end %>
  <% end %>
</div>