<!DOCTYPE html>
<html>
<head>
  <title>Motherlode</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body class="down-50px">
  <%= render "partials/sitenav" %>
  <%= render "partials/alert" %>
  <%= yield %>
  <script type="text/javascript">
      $(document).ready( function() {
          $("#nugget_address").change( function() {
              if(this.value != '')
                  codeAddress(this.value);
          });
      });
  </script>
</body>
</html>
