<!DOCTYPE html>
<html>
<head>
  <title>Motherlode</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "vendor/custom.modernizr" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

<div class="row">
  <div class="large-6 columns">
    <h1><a href="<%= root_path %>"><%= current_product.name %></a></h1>
  </div>
  <div class="large-6 columns text-right">
    <% if current_user %>
        Welcome back, <%= current_user.username %><br />
        <%= link_to 'My Account', current_user %> |
        <% if current_user && current_user.admin %>
            <%= link_to 'Administer Products', users_path %> |
            <%= link_to 'Manage Users', users_path %> |
        <% end %>
        <%= link_to 'Sign Out', :logout%>
    <% else %>
        <%= link_to 'Sign In', :login %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="columns">
    <% if notice %>
        <div data-alert class="alert-box">
          <%= notice %>
          <a href="#" class="close">&times;</a>
        </div>
    <% end %>
  </div>
</div>
<div class="row">
  <%= yield %>
</div>
</body>
</html>
