<!DOCTYPE html>
<html>
<head>
  <title>Motherlode</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "vendor/custom.modernizr" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body data-spy="scroll" data-target=".navbar" data-offset='64' onLoad="$.stellar();" class="down-50px">

<%= render "partials/sitenav" %>

<%= render "partials/alert" %>

<%= yield %>

</body>
</html>
